body {
  /* background-image: url(background.webp);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100vh; */

  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* overflow: hidden; */
}

header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

#firstPage {
  margin: 0;
  padding: 0;
  height: 83.2vh;
  display: flex;
  justify-content: space-between;
}

#a-bun {
  margin-left: 7px;
}

#bun {
  height: 150px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#social {
  position: relative;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  margin-right: 5px;
}

.icons {
  height: 90px;
  border: 0;
  text-decoration: none;
  margin-right: 5px;
}

#facebook {
  transform: scale(0.77);
}

#gmail {
  margin-left: 50px;
  /* margin-top: 10px; */
  color: black;
  text-decoration: none;
  font-size: large;
}

#about {
  padding-top: 150px;
  padding-left: 200px;
}

h1 {
  word-spacing: 15px;
  letter-spacing: 5px;
}

h2 {
  word-spacing: 15px;
  letter-spacing: 5px;
}

p {
  font-size: 20px;
  word-spacing: 10px;
  line-height: 30px;
}

#me {
  margin-right: 150px;
  width: 597.797px;
  height: 757.938px;
}

img {
  transform: scale(0.7);
}

#text {
  margin: 0;
}

#secondPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1553696590-4b3f68898333?ixlib=rb-4.0.3);
  background-size: 1920px 1080px; /* �Ϊ̨ϥΨ��骺�ؤo�A�Ҧp '1920px 1080px' */
  background-position: center top; /* �����m���A�����K���� */
  background-repeat: no-repeat;
  background-attachment: fixed; /* �T�w�I���Ϲ� */
}

#college {
  /* border: 1px solid; */
  height: 50vh;
  width: 100%;
  background-color: #ba3b0a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
}

#college img {
  height: 50vh;
}

#highschool {
  /* border: 1px solid; */
  height: 50vh;
  width: 100%;
  background-color: #f9f6ed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#highschool img {
  height: 50vh;
}

#thirdPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #eae5df;
}

#radio {
  margin-top: 65px;
  /* border: 1px solid; */
  transform: scale(1.5);

  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

#radio .radio {
  flex: 1 1 auto;
  text-align: center;
}

#radio .radio input {
  display: none;
}

#radio .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
  font-size: 1.2rem;
}

#radio .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

#pics-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 85px;
}

#pics {
  display: flex;
  border: 1px solid;
  height: 70vh;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.pics {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  text-align: center;
  border: 0;
  font-size: 1.5rem;
  color: #000;
  background: transparent;
  font-weight: bold;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pics:hover {
  background-color: gray;
  color: #fff;
}

.pics:active {
  background-color: lightgray;
  transition: none;
}

#left {
  left: 15%;
}

#right {
  right: 15%;
}
