body {
  /* background-image: url(background.webp);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100vh; */

  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* overflow: hidden; */
}

#firstPage {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

#about-selfie-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#a-bun {
  margin-left: 7px;
}

#bun {
  height: 150px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#social {
  position: relative;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  margin-right: 5px;
}

#social-icons {
  display: flex;
  flex-direction: row;
}

.icons {
  height: 90px;
  border: 0;
  text-decoration: none;
  margin-right: 5px;
}

#facebook {
  transform: scale(0.77);
}

#gmail {
  margin-left: 50px;
  /* margin-top: 10px; */
  color: black;
  text-decoration: none;
  font-size: large;
}

#about {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1 {
  word-spacing: 15px;
  letter-spacing: 5px;
}

h2 {
  word-spacing: 15px;
  letter-spacing: 5px;
}

p {
  font-size: 20px;
  word-spacing: 10px;
  line-height: 30px;
}

#me {
  width: 597.797px;
  /* height: 757.938px; */
  /* width: auto; */
  height: auto;
}

img {
  transform: scale(0.7);
}

#text {
  margin: 0;
}

#secondPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1553696590-4b3f68898333?ixlib=rb-4.0.3);
  background-size: 1920px 1080px;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#college {
  /* border: 1px solid; */
  height: 50vh;
  width: 100%;
  background-color: #ba3b0a;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
}

#college img {
  height: 50vh;
}

#highschool {
  /* border: 1px solid; */
  height: 50vh;
  width: 100%;
  background-color: #f9f6ed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#highschool img {
  height: 50vh;
}

#thirdPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #dbd2c9;
  /* background-image: url(images/danceBackground.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#radio {
  margin-top: 65px;
  /* border: 1px solid; */
  transform: scale(1.5);

  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

#radio .radio {
  flex: 1 1 auto;
  text-align: center;
}

#radio .radio input {
  display: none;
}

#radio .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
  font-size: 1.2rem;
}

#radio .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

#pics-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 85px;
}

#pics {
  display: flex;
  /* border: 1px solid; */
  height: 70vh;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.pics {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  text-align: center;
  border: 0;
  font-size: 1.5rem;
  color: #000;
  background: transparent;
  font-weight: bold;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.pics:hover {
  background-color: gray;
  color: #fff;
}

.pics:active {
  background-color: lightgray;
  transition: none;
}

#left {
  left: 15%;
}

#right {
  right: 15%;
}

#pics img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1);

  transition: opacity 0.5s ease-in-out;
  /* opacity: 0; */
}

#forthPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #e4e4e4;
}

#interest h1 {
  font-size: 2.5rem;
  margin-top: 20vh;
}

.container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  margin-bottom: 25vh;
}

.card {
  width: 30%;
  height: 200px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card h3 {
  position: absolute;
  bottom: -60px; /* 隱藏在卡片下方 */
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  transition: bottom 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card:hover h3 {
  bottom: 27%; /* 當 hover 時，文字上移 */
}

#fifthPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background-color: #e4e4e4; */
  background-image: url(meme.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#instagramContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#head {
  height: 5vh;
  width: 90vh;
  margin-bottom: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#meme {
  margin: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

#pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 91vh;
  width: 91vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 30vh;
  width: 100%;
  margin: 2px;
}

.box {
  height: 30vh;
  width: 30vh;
  margin-right: 2px;
  margin-left: 2px;
}

.instagramLink {
  position: relative;
  height: 30vh;
  width: 30vh;
}

.pictures {
  position: absolute;
  object-fit: cover;
  height: 30vh;
  width: 30vh;
  transform: none;
}

.box:hover .pictures {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.box:hover .instagramIcons {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.instagramIcons {
  position: absolute;
  height: 20px;
  left: 27vh;
  top: 0.7vh;
  transform: none;
}

.iconLink {
  position: absolute;
  height: 2.7vh;
  left: 14vh;
  top: 14vh;
  display: none;
  isolation: isolate;
  transform: none;
}

.box:hover .iconLink {
  display: block;
}

button {
  position: absolute;
  top: 402vh;
  right: 2vh;
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 1.06rem;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.55em 0.7rem;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

@media only screen and (max-width: 600px) {
  #a-bun {
    margin-left: 0;
  }
  #social {
    flex-direction: column;
    right: 25px;
    top: 10px;
  }
  #gmail {
    margin-left: 0;
  }

  #about-selfie-container {
    flex-direction: column;
  }

  #about {
    text-align: center;
  }

  #about h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }

  #about p {
    font-size: 15px;
    line-height: 20px;
  }

  #me {
    transform: scale(1);
    height: 40vh;
    width: auto;
  }

  #me-container {
    width: 100%;
    height: 53vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #a-bun {
    display: none;
  }

  header {
    justify-content: center;
  }

  #social-icons a {
    margin: 0;
  }

  #social {
    right: 0;
  }

  #college {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #college img {
    transform: scale(1);
    width: 70%;
    height: auto;
  }

  #highschool {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #highschool img {
    transform: scale(1);
    width: 70%;
    height: auto;
  }
  #text h2 {
    display: none;
  }

  #radio {
    transform: scale(1);
  }

  #pics {
    width: auto;
  }



  #interest h1{
    margin-top: 6vh;
    margin-bottom: 0;
  }

  #mj {
    transform: scale();
  }

  .container {
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin-bottom: 2vh;
    width: 100%;
  }

  .card:hover {
    transform: none;
  }
  
  .card:hover h3 {
    bottom: 27%; /* 當 hover 時，文字上移 */
  }

  .card:active {
    transform: translateY(-10px);
  }
  
  .card:active h3 {
    bottom: 27%; /* 當 hover 時，文字上移 */
  }
}
