body {
  /* background-image: url(background.webp);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 100vh; */

  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin: 0;
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  /* overflow: hidden; */
}

header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

#firstPage {
  margin: 0;
  padding: 0;
  height: 83.2vh;
  display: flex;
  justify-content: space-between;
}

#a-bun {
  margin-left: 7px;
}

#bun {
  height: 150px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#social {
  position: relative;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social {
  margin-right: 5px;
}

.icons {
  height: 90px;
  border: 0;
  text-decoration: none;
  margin-right: 5px;
}

#facebook {
  transform: scale(0.77);
}

#gmail {
  margin-left: 50px;
  /* margin-top: 10px; */
  color: black;
  text-decoration: none;
  font-size: large;
}

#about {
  padding-top: 150px;
  padding-left: 200px;
}

h1 {
  word-spacing: 15px;
  letter-spacing: 5px;
}

p {
  font-size: 20px;
  word-spacing: 10px;
  line-height: 30px;
}

#me {
  margin-right: 150px;
  width: 597.797px;
  height: 757.938px;
}

img {
  transform: scale(0.7);
}

#text {
  margin: 0;
}

#secondPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1553696590-4b3f68898333?ixlib=rb-4.0.3);
  background-size: 1920px 1080px; /* 或者使用具體的尺寸，例如 '1920px 1080px' */
  background-position: center top; /* 水平置中，垂直貼頂部 */
  background-repeat: no-repeat;
  background-attachment: fixed; /* 固定背景圖像 */
}

#college {
  border: 1px solid;
  height: 50vh;
  width: 100%;
  background-color: #ba3b0a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}

#college img {
  height: 50vh;
}

#highschool {
  border: 1px solid;
  height: 50vh;
  width: 100%;
  background-color: #f9f6ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#highschool img {
  height: 50vh;
}

#thirdPage {
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/b3/19/d8/b319d809655f965c91ea4f4cb4340091.jpg);
  background-size: 1920px 1080px; /* 或者使用具體的尺寸，例如 '1920px 1080px' */
  background-position: center top; /* 水平置中，垂直貼頂部 */
  background-repeat: no-repeat;
  background-attachment: fixed; /* 固定背景圖像 */
}
